# Python bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/

# Environment variables
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model artifacts
*.pkl
*.h5
